<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Luma Health - It's About Time</title>
		<link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	</head>
<body>
	<h1>Welcome to Luma Health!</h1>
	<p>Please sign up below:</p>
	<form>
	</form>
</body>
</html>